In [16]:
import pandas as pd

In [17]:
# 1. Create a python list of lenght 4 contains some of your favoreite actors. 
# So this should be a list of strings. Call this list--asing it to a variable called actor_names
actor_names = ['Matthew Perry','Jennifer Anniston','Lisa Kudrov','Matt Leblanc']
actor_names

['Matthew Perry', 'Jennifer Anniston', 'Lisa Kudrov', 'Matt Leblanc']

In [18]:
# 2. Next, create another python list of the same lenght that contains your guesses for how old each actor is, feel free to just 
# use integers or floats. Call this list actor_ages
actor_ages  = [52,50,54,51]
actor_ages

[52, 50, 54, 51]

In [19]:
# 3. Create a series that stores actor ages and labels the ages using the actor names. To clarify, use actor names in the index
# and actor age as values. Give this series a name of actors.
actor_list = pd.Series(actor_ages, actor_names, name='actors')
actor_list

Matthew Perry        52
Jennifer Anniston    50
Lisa Kudrov          54
Matt Leblanc         51
Name: actors, dtype: int64

In [20]:
# BONUS 4
# Repeat step 3 but this time create the series from a python dictionary. As an adittional challenge, try not to type dictionary
# manually, but instead dynamically create it using the two lists defined in Steps 1 and 2

actor_dict= dict(zip(actor_names, actor_ages))

# Una vez creado el diccionario lo pasamos a serie

pd.Series(actor_dict, name= 'actors',dtype=object)

Matthew Perry        52
Jennifer Anniston    50
Lisa Kudrov          54
Matt Leblanc         51
Name: actors, dtype: object

In [21]:
# Another Solution
dict2 = {name:age for name, age in zip(actor_names, actor_ages)}
dict2

{'Matthew Perry': 52,
 'Jennifer Anniston': 50,
 'Lisa Kudrov': 54,
 'Matt Leblanc': 51}

In [22]:
# Y lo pasamos a serie
list2= pd.Series(dict2, name='actors3')

In [23]:
list2.tail()
list4 = pd.Series(range(60))
list4.tail(8)

52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [24]:
list4.head(8)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int64

In [26]:
# podemos cambiar la cantidad minima que muestre
pd.options.display.min_rows = 40