In [3]:
import pandas as pd

In [4]:
#Skill Challenge Course

In [5]:
# 1. Create a python list of lenght 4 contains some of your favoreite actors. 
# So this should be a list of strings. Call this list--asing it to a variable called actor_names

In [6]:
actor_names = ['Matthew Perry','Jennifer Anniston','Lisa Kudrov','Matt Leblanc']
actor_names

['Matthew Perry', 'Jennifer Anniston', 'Lisa Kudrov', 'Matt Leblanc']

In [7]:
# 2. Next, create another python list of the same lenght that contains your guesses for how old each actor is, feel free to just 
# use integers or floats. Call this list actor_ages
actor_ages  = [52,50,54,51]
actor_ages

[52, 50, 54, 51]

In [8]:
# 3. Create a series that stores actor ages and labels the ages using the actor names. To clarify, use actor names in the index
# and actor age as values. Give this series a name of actors.
actor_list = pd.Series(actor_ages, actor_names, name='actors')
actor_list

Matthew Perry        52
Jennifer Anniston    50
Lisa Kudrov          54
Matt Leblanc         51
Name: actors, dtype: int64

In [9]:
# BONUS 4
# Repeat step 3 but this time create the series from a python dictionary. As an adittional challenge, try not to type dictionary
# manually, but instead dynamically create it using the two lists defined in Steps 1 and 2

actor_dict= dict(zip(actor_names, actor_ages))

In [10]:
# Una vez creado el diccionario lo pasamos a serie
pd.Series(actor_dict, name= 'actors',dtype=object)

Matthew Perry        52
Jennifer Anniston    50
Lisa Kudrov          54
Matt Leblanc         51
Name: actors, dtype: object

In [13]:
# Another Solution
dict2 = {name:age for name, age in zip(actor_names, actor_ages)}
dict2

{'Matthew Perry': 52,
 'Jennifer Anniston': 50,
 'Lisa Kudrov': 54,
 'Matt Leblanc': 51}

In [18]:
# Y lo pasamos a serie
list2= pd.Series(dict2, name='actors3')

In [27]:
list2.tail()
list4 = pd.Series(range(60))
list4.tail(8)

52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [30]:
list4.head(8)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int64

In [32]:
list4

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
50    50
51    51
52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [35]:
# podemos cambiar la cantidad minima que muestre
pd.options.display.min_rows = 40
list4

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
50    50
51    51
52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64