In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

#### Conexión a la base de datos de cada sucursal

In [2]:
connections = {}
engine = {}
connection_sucursales = ['56','060','090','091','129','181','182','220']

for suc in connection_sucursales:
    if suc == '56':
        connections[suc] = f'oracle+cx_oracle://usr_digital_consulta:Ora$2022coto@Suc{suc}db:1728/SF0{suc}CD'
    else:
        connections[suc] = f'oracle+cx_oracle://usr_digital_consulta:Ora$2022coto@Suc{suc}db:1728/SF{suc}CD'
    
    engine[suc] = create_engine(connections[suc])

### Creando los dataframes

In [3]:
df = {}
nombres_dataframes = ['suc_56', 'suc_60', 'suc_90', 'suc_91', 'suc_129', 'suc_181', 'suc_182', 'suc_220']
query_plu = 'SELECT PLU,PESO_PROMEDIO FROM PESO_PRODUCTO'
for n,i,cs in zip(nombres_dataframes,engine,connection_sucursales):
    df[n] = pd.read_sql(query_plu,engine[cs])

### Lista de plu con las 8 sucursales

In [4]:
lista_plu = pd.concat([
    df['suc_56']['plu'],
    df['suc_60']['plu'],
    df['suc_90']['plu'],
    df['suc_91']['plu'],
    df['suc_129']['plu'],
    df['suc_181']['plu'],
    df['suc_182']['plu'],
    df['suc_220']['plu']
]).drop_duplicates()

In [5]:
lista_plu = pd.Series(data=lista_plu)
lista_plu

0        215820
1        200801
2        138661
3        271227
4        204085
          ...
69060    197391
69083    526906
69111    548864
69151    575405
69162    540136
Name: plu, Length: 73942, dtype: int64

In [6]:
dataframes = {
    'sucursal_56': df['suc_56'],
    'sucursal_60': df['suc_60'],
    'sucursal_90': df['suc_90'],
    'sucursal_91': df['suc_91'],
    'sucursal_129': df['suc_129'],
    'sucursal_181': df['suc_181'],
    'sucursal_182': df['suc_182'],
    'sucursal_220': df['suc_220']
}

lista_plu = pd.concat([df['plu'] for df in dataframes.values()]).drop_duplicates()

# Crear un DataFrame vacío para almacenar los resultados
peso_sucursales = pd.DataFrame({'plu': lista_plu})

# Iterar sobre cada sucursal y fusionar los datos en el DataFrame de resultados
for nombre_sucursal, sucursal_df in dataframes.items():
    # Fusionar el DataFrame de la sucursal con el DataFrame de resultados
    peso_sucursales = peso_sucursales.merge(sucursal_df[['plu', 'peso_promedio']], on='plu', how='left').rename(columns={'peso_promedio': nombre_sucursal})

# Reemplazar los valores nulos por "Sin Registro"
peso_sucursales = peso_sucursales.fillna(-1)

#valores sin Nan y sin PESO 0
def valores_notnull_notZero(row):
    return [val for val in row if not pd.isnull(val) and val >= 0]

In [7]:
columnas_a_comparar = peso_sucursales.iloc[:, 1:]

# Verifica si todos los valores en cada fila son iguales en las columnas seleccionadas
filas_iguales = columnas_a_comparar.apply(lambda row: row.nunique(), axis=1) == 1

# Agrega una nueva columna al DataFrame con los resultados
peso_sucursales['todos_iguales'] = filas_iguales

In [8]:

# Encontrar el mínimo no cero por fila
# minimo_no_cero = peso_sucursales_no_zeros.apply(lambda row: row.nsmallest(2).iloc[1], axis=1)
# minimo_no_cero
def minimo_no_cero(row):
    valores_validos = valores_notnull_notZero(row)
    if len(valores_validos) == 1:
        return valores_validos[0]
    elif len(valores_validos) == 0:
        return 0
    else:
        return min(valores_validos)

minimo_n = peso_sucursales.drop(['plu','todos_iguales'], axis=1).apply(minimo_no_cero, axis=1)
maximos = peso_sucursales.drop(['plu','todos_iguales'], axis=1).max(axis=1)


peso_sucursales['peso_minimo'] = minimo_n
peso_sucursales['peso_maximo'] = maximos
peso_sucursales['peso_promedio'] = (peso_sucursales['peso_maximo']+peso_sucursales['peso_minimo'])/2

In [9]:
repeticiones_maximo = (peso_sucursales.drop(['plu','todos_iguales','peso_minimo','peso_maximo','peso_promedio'], axis=1).eq(maximos, axis=0))
repeticiones_minimo = (peso_sucursales.drop(['plu','todos_iguales','peso_minimo','peso_maximo','peso_promedio'], axis=1).eq(minimo_n, axis=0))

num_repeticiones_maximo = (repeticiones_maximo == True).sum(axis=1)
num_repeticiones_minimo = (repeticiones_minimo == True).sum(axis=1)

peso_sucursales['cantidad_maximo'] = num_repeticiones_maximo
peso_sucursales['cantidad_minimo'] = num_repeticiones_minimo

In [10]:
columnas_a_comparar = ['plu','todos_iguales','peso_minimo','peso_maximo','peso_promedio','cantidad_maximo','cantidad_minimo']

def sucursal_plu(x):
       valores_validos = valores_notnull_notZero(x)
       if len(valores_validos) == 1: #una sola sucursal tiene peso mayor a 0 o null
           return 1
       elif len(valores_validos) == 0:
           return 0
       else:
           return len(valores_validos)
     
cantidad_sucursales_plu = peso_sucursales.drop(columnas_a_comparar,axis=1).apply(sucursal_plu,axis=1)

peso_sucursales['cantidad_plu_x_cadena'] = cantidad_sucursales_plu
del cantidad_sucursales_plu, columnas_a_comparar

In [11]:
plu_a_agregar_suc = {}
plu_a_agregar_suc_query = {}
# Función para filtrar datos según la sucursal
def filtrar_por_sucursal(dataframe, sucursal):
    return dataframe[['plu', sucursal, 'peso_minimo', 'peso_maximo', 'peso_promedio']][dataframe[sucursal] == -1]

# Lista de nombres de las sucursales y nombres para los DataFrames resultantes
lista_sucursal = ['sucursal_56', 'sucursal_60', 'sucursal_90', 'sucursal_91', 'sucursal_129', 'sucursal_181', 'sucursal_182', 'sucursal_220']
nombres_dataframes = ['suc_56', 'suc_60', 'suc_90', 'suc_91', 'suc_129', 'suc_181', 'suc_182', 'suc_220']

  # Tu DataFrame original

# Crear DataFrames filtrados utilizando la función y los nombres definidos
for sucursal, nombre_df in zip(lista_sucursal, nombres_dataframes):
    plu_a_agregar_suc[nombre_df] = filtrar_por_sucursal(peso_sucursales, sucursal)
    plu_a_agregar_suc[nombre_df].drop(sucursal,axis=1,inplace=True)
    plu_a_agregar_suc_query[nombre_df] = list(plu_a_agregar_suc[nombre_df].to_records(index=False))

In [12]:

consulta_insert = 'INSERT INTO PESO_PRODUCTO (PLU,PESO_PROMEDIO, PESO_MINIMO,PESO_MAXIMO, FECHA_INSERT,FECHA_UPDATE,PESO_FIJO,TIPO_PLU) VALUES '

def valores_a_agregar_query(lista_sucursal):
    valores_sucursal = []
    for fila in lista_sucursal:
        plu,peso_promedio, peso_minimo, peso_maximo = fila  # Suponiendo las primeras cuatro columnas como las que deseas insertar
        valores_sucursal.append(f'({plu},{peso_promedio},{peso_minimo},{peso_maximo},sysdate,null,0,0) ')
    return valores_sucursal
  
script_insert = {}


for i in nombres_dataframes:
    script_insert[i] = consulta_insert + ', '.join(valores_a_agregar_query(plu_a_agregar_suc_query[i]))
    
    
del consulta_insert

In [13]:
query_plu_detalles = 'SELECT PLU FROM T_PEDIDOS_DETALLE GROUP BY PLU'

df_plu_detalles = {}
# nombres_dataframes = ['suc_56', 'suc_60', 'suc_90', 'suc_91', 'suc_129', 'suc_181', 'suc_182', 'suc_220']

for n,i,cs in zip(nombres_dataframes,engine,connection_sucursales):
    df_plu_detalles[n] = pd.read_sql(query_plu_detalles,engine[cs])
    
del query_plu_detalles

In [14]:
df_lista_plu = pd.DataFrame({'plu':lista_plu})

In [15]:
lista_plu_final = {}

for n in nombres_dataframes:
    df_plu_detalles[n]= df_plu_detalles[n].astype(int)
    plu_a_agregar_suc[n]['plu'] = plu_a_agregar_suc[n]['plu'].astype(int)
    lista_plu_final[n] = pd.merge(df_plu_detalles[n],df_lista_plu,on='plu', how='inner')

# plu_a_agregar_suc_56['plu'].index

In [16]:
lista_plu_final[]

SyntaxError: invalid syntax (1789726083.py, line 1)

In [ ]:
plu_a_agregar_suc['suc_56']
lista_plu_detalles['suc_56']
# df_plu_detalles['suc_129'].drop(columns=['cantidad_pedidos'])
df_plu_detalles['suc_129']

                  plu
0      00000000480004
1      00000000480012
2      00000000209031
3      00000000209035
4      00000000209276
...               ...
15815  00000000262716
15816  00000000050392
15817  00000000248205
15818  00000000545409
15819  00000000014747

[15820 rows x 1 columns]

In [ ]:
df_plu_con_errores = {}


query_plu_con_errores_en_pesaje = 'SELECT DISTINCT PLU FROM T_PEDIDOS_PICKING WHERE ID_SERIE IN(SELECT t.id_serie FROM (SELECT PEDIDO.ID_PEDIDO, ID_EVENT, serie.id_serie FROM T_PEDIDOS PEDIDO LEFT JOIN (SELECT ID_PEDIDO ID_PEDIDO,ID_SERIE,PESOTOTAL, PROCESO from T_PEDIDOS_SERIE where proceso = \'control\') SERIE ON serie.id_pedido = pedido.id_pedido LEFT JOIN (SELECT EVENT,SERIE,id_event from t_events where (process = \'checkout\' and state = \'nok\')) EVE ON EVE.SERIE = SERIE.ID_SERIE WHERE PEDIDO.PROCESO = \'checkout\' and id_event = 7 order BY  json_value(PEDIDO.entrega, \'$.Hora_Desde\' RETURNING timestamp)) t)'

for n,i,cs in zip(nombres_dataframes,engine,connection_sucursales):
    df_plu_con_errores[n] = pd.read_sql(query_plu_con_errores_en_pesaje,engine[cs])

In [ ]:
df_plu_con_errores = pd.read_sql(query_plu_con_errores_en_pesaje,engine['060'])

In [ ]:
df_plu_con_errores['suc_220']
pd.merge(df_plu_con_errores['suc_56'].astype(int),plu_a_agregar_suc['suc_56'], on='plu',how='left')

peso_sucursales

,plu,sucursal_56,sucursal_60,sucursal_90,sucursal_91,sucursal_129,sucursal_181,sucursal_182,sucursal_220,todos_iguales,peso_minimo,peso_maximo,peso_promedio,cantidad_maximo,cantidad_minimo,cantidad_plu_x_cadena
0,215820,262.40,262.40,262.40,262.40,262.40,262.40,262.40,262.40,True,262.40,262.40,262.40,8,8,8
1,200801,118.14,118.14,118.14,118.14,118.14,118.14,118.14,118.14,True,118.14,118.14,118.14,8,8,8
2,138661,67.67,67.67,67.67,67.67,67.67,67.67,67.67,67.67,True,67.67,67.67,67.67,8,8,8
3,271227,28.75,28.75,28.75,28.75,28.75,28.75,28.75,28.75,True,28.75,28.75,28.75,8,8,8
4,204085,45.00,40.00,45.00,45.00,45.00,45.00,45.00,45.00,False,40.00,45.00,42.50,7,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73248,526906,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,715.00,False,715.00,715.00,715.00,1,1,1
73249,548864,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,140.00,False,140.00,140.00,140.00,1,1,1
73250,575405,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,232.00,False,232.00,232.00,232.00,1,1,1
73251,540136,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,612.00,False,612.00,612.00,612.00,1,1,1
73252,574941,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,155.00,False,155.00,155.00,155.00,1,1,1